# Ignore virtual environment
venv/

# Ignore data files
data/raw/
data/processed/

# Python cache
__pycache__/
*.pyc

# IDE settings
.vscode/
.idea/

# dbt compiled files
dbt_project/target/
dbt_project/dbt_modules/
